// Custom Variables

$body-bg: #181818;
$primary: #D95B00;
$secondary: #2e2e2e;

$link-decoration: none;
$link-color: $primary;

$input-placeholder-color:  rgba(217, 91, 0, 0.75);

@import "../node_modules/bootstrap/scss/bootstrap";